/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200; 0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700; 1,800;1,900&display=swap");
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation {
  width: 100%;
}
.nav-list {
  list-style-type: none;
  display: inline-flex;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.nav-list li {
  float: left;
}
.nav-list a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #6c5ce7;
  font-weight: 600;
  font-size: large;
}
.nav-list a:hover {
  background-color: #dddddd;
  border-radius: 5px;
}
#hello {
  text-decoration: none;
}

.container {
  width: 400px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: #a29bfe;
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #a29bfe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #6c5ce7;
}
.login-remember {
  color: #111;
  font-weight: 600;
}

.login-remember a {
  padding-left: 30px;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
  color: #632629;
}

.login-register-text {
  margin-top: 20px;
  color: #111;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #6c5ce7;
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
footer p {
  margin-left: 40;
}
.error-message {
  text-align: center;
  background: #d7eeff;
  color: #ff0000;
}
